<div class="catalog-container">
  <!-- Sidebar con botón para crear -->
  <div class="sidebar">
    <h3>Lista de Mensualidades de usuarios</h3>
    <!-- <ul>
      <li>
        <button mat-raised-button color="primary" [routerLink]="['/pages/mesnsualiddaes-sin-pago']"> Mensualidades sin pago</button>
      </li>
    </ul> -->
  </div>

  <!-- Contenido principal -->
  <div class="main-content">
    <div class="result-count">
      <p>{{ totalElements }} Mensualidades encontrados</p>
    </div>

    <!-- Grid de usuarios -->
    <div class="card-grid">
      @for (mensualidad of mensualidades; track $index) {
        <div class="card-item">
          <mat-card class="user-card">
            <mat-card-header>
              <mat-card-title>Detalle de mensualidad de apoderado</mat-card-title>
              <mat-card-subtitle>Mensualidad de furgón</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p><strong>ID de la mensualidad:</strong>  {{  mensualidad.id  }}</p>
              <p><strong>Nombre Apoderado:</strong>{{ mensualidad.usuario.nombres }} {{mensualidad.usuario.apellidos}}</p>
              <p><strong>Monto a pagar:</strong>{{ mensualidad.monto }}</p>
              <p><strong>Fecha de Vencimiento:</strong>{{ mensualidad.fechaVencimiento }} </p>
              <p><strong>Estado:</strong> {{ mensualidad.estado }}</p>
              <p><strong>Estado:</strong> {{ mensualidad.enabled }}</p>
              <!-- <p><strong>Enabled:</strong> {{ mensualidad.enabled }}</p> -->
            </mat-card-content>
            <mat-card-actions>
                <!-- @if(mensualidad.estado === estado.PENDIENTE  ){
              <button mat-stroked-button color="warn" >Registrar Pago</button>
              } -->
              <!-- <button mat-stroked-button color="primary" [routerLink]="['/pages/formmensualidad',mensualidad.id]">Editar</button> -->
              <!-- <button mat-stroked-button color="primary" (click)="editUser(user.id)">Editar</button> -->
              <button mat-stroked-button color="warn" (click)="deleteMensualidad(mensualidad.id)">Eliminar</button>

            </mat-card-actions>
          </mat-card>
        </div>
      } @empty {
        <p>No hay mensualidades registradas</p>
      }
    </div>

    <!-- Paginador -->
    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="[9, 12, 24]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>

