
<h1>Asignar Mensualidad al apoderado </h1>

<mat-card>
  <form [formGroup]="mensualidadForm" (ngSubmit)="onSubmit()">

    <!-- Campo oculto para enviar el ID del apoderado -->
    <input type="hidden" formControlName="usuarioId">

    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input matInput type="number" formControlName="monto">
        @if(controlHasError('monto', 'required')){
			       <mat-error>El monto es obligatorio</mat-error>
		        }
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Fecha Vencimiento</mat-label>
      <input matInput type="date" formControlName="fechaVencimiento">
    </mat-form-field> -->

       <mat-form-field appearance="outline">
      <mat-label>Fecha Vencimiento</mat-label>
      <input matInput [matDatepicker]="pickerFin" formControlName="fechaVencimiento">
        @if(controlHasError('fechaVencimiento', 'required')){
			       <mat-error>La fecha de vencimiento es obligatoria</mat-error>
		        }
      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
    </mat-form-field>



    <button mat-raised-button color="primary" type="submit">
      Guardar Mensualidad
    </button>
  </form>
</mat-card>
