<div class="catalog-container">
    <div class="sidebar">
      <h3>Lista de recorridos ingresados</h3>
       <ul>
      <li>
        <button mat-raised-button color="primary" [routerLink]="['/pages/formrecorrido']">Registrar Recorrido</button>
      </li>
    </ul>
    </div>
    <div class="main-content">
         <div class="result-count">
            <p>{{ totalElements }} recorridos encontrados</p>
         </div>
          <div class="card-grid">
            @for(recorrido of recorridos; track $index){
              <div class="card-item">
                <mat-card class="user-card">
                  <mat-card-header>
                    <mat-card-title>Recorrido de furgon</mat-card-title>
                    <mat-card-subtitle>Descripción del recorrido</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p><strong>Id recorrido:</strong>  {{ recorrido.id }}</p>
                    <p><strong>Origen:</strong>  {{ recorrido.origen }}</p>
                    <p><strong>Destino:</strong>  {{ recorrido.destino }}</p>
                    <p><strong>Descripción:</strong>  {{ recorrido.descripcion }}</p>
                  </mat-card-content>
                  <mat-card-actions>
                     <button mat-stroked-button color="primary" [routerLink]="['/pages/formrecorrido',recorrido.id]">Editar</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            } @empty{
              <p>No hay registro de recorridos</p>
            }
          </div>
          <mat-paginator
            [length]="totalElements"
            [pageSize]="pageSize"
            [pageSizeOptions]="[9, 12, 24]"
            (page)="onPageChange($event)">
    </mat-paginator>
    </div>
</div>
