<h1>Lista de Transportistas asignados a un furgon</h1>

<div class="catalog-container">
  <!-- Sidebar con botón para crear -->
  <!-- <div class="sidebar">
    <h3>Opciones</h3>

  </div> -->

  <!-- Contenido principal -->
  <div class="main-content">
    <div class="result-count">
     <app-register-counter [total]="totalElements" label="transportistas con furgon encontrados"></app-register-counter>
    </div>

    <!-- Grid de usuarios -->
    <div class="card-grid">
      @for (transportista of transportistasConFurgon; track $index) {
        <div class="card-item">
          <mat-card class="transportista-card">
            <mat-card-header>
              <mat-card-title>{{ transportista.nombres }} {{transportista.apellidos}}</mat-card-title>
              <mat-card-subtitle>{{ transportista.email }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p><strong>Rol:</strong>  {{ transportista.role }}</p>
              <p><strong>Comuna:</strong> {{ transportista.comuna }}</p>
              <p><strong>Telefono:</strong> {{ transportista.telefono }}</p>
              <p><strong>ID:</strong> {{ transportista.id }}</p>
            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-raised-button color="primary" [routerLink]="['/pages/formfurgon',{transportistaId:transportista.id}]">Asignar furgon</button> -->
              <!-- <button mat-stroked-button color="primary" [routerLink]="['/pages/formuser',apoderado.id]">Editar</button> -->
              <!-- <button mat-stroked-button color="primary" (click)="editUser(user.id)">Editar</button> -->
              <!-- <button mat-stroked-button color="warn" (click)="deleteUser(user.id)">Eliminar</button> -->
            </mat-card-actions>
          </mat-card>
        </div>
      } @empty {
        <p>No hay transportistas registrados</p>
      }
    </div>

    <!-- Paginador -->
    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="[9, 12, 24]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>

