<div class="catalog-container">
  <div class="sidebar">
    <h3>Opciones</h3>
    <ul>
      <!-- <li>
        <button mat-raised-button color="primary" (click)="createUser()">Crear Usuario</button>
      </li> -->
    </ul>
  </div>
  <div class="main-content">
      <div class="result-count">
     <app-register-counter [total]="totalElements" label="Estudiante(s) encontrado(s)"></app-register-counter>
    </div>

    <div class="card-grid">
       @for(estudiante of estudiantes;track $index){
        <div class="card-item">
          <mat-card class="user-card">
               <mat-card-header>
                   <mat-card-title>{{ estudiante.nombres }} </mat-card-title>
                   <mat-card-subtitle>{{estudiante.apellidos}}</mat-card-subtitle>
               </mat-card-header>
               <mat-card-content>
                  <p><strong>ID:</strong>  {{  estudiante.id  }}</p>
                  <p><strong>Colegio:</strong>  {{  estudiante.colegio }}</p>
                  <p><strong>Email:</strong>  {{  estudiante.email }}</p>
                  <p><strong>Fecha nacimiento:</strong>  {{  estudiante.fechaNacimiento }}</p>
               </mat-card-content>
          </mat-card>
        </div>
       }@empty {
              <p>No tiene Estudiantes registrados</p>
       }
    </div>
      <!-- Paginador -->
    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="[9, 12, 24]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
