<mat-toolbar>
  <span>Administracion de Furgones</span>
  <ng-container *ngIf="user; else showLogin">
    <span class="ms-3">
      Hola {{ isAdmin ? 'Admin' : 'Apoderado' }}
    </span>
    <button *ngIf="isAdmin" mat-button routerLink="/pages/users" class="ms-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Usuarios
    </button>
   <button *ngIf="isAdmin" mat-button  class="ms-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [matMenuTriggerFor]="apoderadoMenu">
      Apoderados
    </button>
    <mat-menu #apoderadoMenu>
      <button mat-menu-item routerLink="/pages/listar-estdiantes-admin">
         <mat-icon>school</mat-icon>Estudiantes
      </button>
      <button mat-menu-item routerLink="/pages/listar-apoderados">
         <mat-icon>person</mat-icon>Lista apoderados
      </button>
    </mat-menu>
   <button *ngIf="isAdmin" mat-button  class="ms-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [matMenuTriggerFor]="transportistasMenu">
      Transportistas
    </button>
    <mat-menu #transportistasMenu>
      <button mat-menu-item routerLink="/pages/listar-transportistas">
        <mat-icon>airport_shuttle</mat-icon>Transportistas sin furgon
      </button>
      <button mat-menu-item routerLink="/pages/listar-transportistas-con-furgon">
         <mat-icon>airport_shuttle</mat-icon>Transportistas con furgon
      </button>
    </mat-menu>
    <button *ngIf="isAdmin" mat-button routerLink="/pages/listar-furgones" class="ms-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }"
    >
      Furgones
    </button>
    <button
     *ngIf="isAdmin"
      mat-button
      routerLink="/pages/listar-recorridos"
      class="ms-3"
       routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Recorridos
    </button>
    <button
      *ngIf="isAdmin"
      mat-button
      class="ms-3"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [matMenuTriggerFor]="mensualidadesMenu"
      >
      Mensualidades
    </button>
    <mat-menu #mensualidadesMenu>
       <button mat-menu-item routerLink="/pages/mensualidades">
          <mat-icon> attach_money</mat-icon> Mensualiddaes pagadas
       </button>
       <button mat-menu-item routerLink="/pages/mesnsualiddaes-sin-pago">
         <mat-icon>attach_money</mat-icon> Mensualiddaes sin pago
       </button>
    </mat-menu>
    <button
      *ngIf="isAdmin"
      mat-button
      routerLink="/pages/lista-mensualidades"
      class="ms-3"
       routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Pagos
    </button>
    <button
       *ngIf="isApoderado"
       mat-button
       routerLink="/pages/my-mensualidades"
       class="ms-3"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
      >
       Mis mensualidades
    </button>
    <button
       *ngIf="isApoderado"
       mat-button
       routerLink="/pages/my-mensualidades"
       class="ms-3"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
      >
       Mis estudiantes
    </button>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon> {{ user.nombres }} {{user.apellidos}}
    </button>
    <mat-menu #userMenu>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #showLogin>
    <span class="spacer"></span>
    <button mat-button routerLink="/auth/sign-in" class="ms-3">
      Iniciar sesión
    </button>
    <button mat-raised-button color="primary" routerLink="/auth/sign-up" class="ms-3">
      Registrarme
    </button>
  </ng-template>
</mat-toolbar>

<div class="main-container">
  <router-outlet/>
</div>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2025 <a href="https://hampcode.com">HampCode</a> .All rights reserved.</p>
  </div>
</footer>
