<mat-toolbar>
  <span>Administracion de Furgones</span>
  <ng-container *ngIf="user; else showLogin">
    <span class="ms-3">
      Hola {{ isAdmin ? 'Admin' : 'Apoderado' }}
    </span>
    <button *ngIf="isAdmin" mat-button routerLink="/pages/users" class="ms-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Usuarios
    </button>
   <button *ngIf="isAdmin" mat-button routerLink="/pages/listar-apoderados" class="ms-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Apoderados
    </button>
   <button *ngIf="isAdmin" mat-button routerLink="/pages/listar-transportistas" class="ms-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Transportistas sin furgon
    </button>
    <button *ngIf="isAdmin" mat-button routerLink="/pages/listar-transportistas-con-furgon" class="ms-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">
      Transportistas
    </button>
    <button *ngIf="isAdmin" mat-button routerLink="/pages/listar-furgones" class="ms-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }"
    >
      Furgones
    </button>
    <button
     *ngIf="isAdmin"
      mat-button
      routerLink="/pages/listar-recorridos"
      class="ms-3"
       routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Recorridos
    </button>
    <button
      *ngIf="isAdmin"
      mat-button
      routerLink="/pages/mensualidades"
      class="ms-3"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Mensualidades
    </button>
    <button
      *ngIf="isAdmin"
      mat-button
      routerLink="/pages/lista-mensualidades"
      class="ms-3"
       routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Pagos
    </button>
    <button
       *ngIf="isApoderado"
       mat-button
       routerLink="/pages/my-mensualidades"
       class="ms-3"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
      >
       Mis mensualidades
    </button>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon> {{ user.nombres }} {{user.apellidos}} {{user.id}}
    </button>
    <mat-menu #userMenu>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #showLogin>
    <span class="spacer"></span>
    <button mat-button routerLink="/auth/sign-in" class="ms-3">
      Iniciar sesión
    </button>
    <button mat-raised-button color="primary" routerLink="/auth/sign-up" class="ms-3">
      Registrarme
    </button>
  </ng-template>
</mat-toolbar>

<div class="main-container">
  <router-outlet/>
</div>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2025 <a href="https://hampcode.com">HampCode</a> .All rights reserved.</p>
  </div>
</footer>
